@model CORE.Views.HOME_INFOR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>Trang chủ</h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">

            <div class="row" style="height: auto;">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div id="view_financy" class="panel bg-teal-400">
                        <div class="panel-body">
                            <h3 class="no-margin">@(string.Format("{0:N0}", Model.TONG_QUY))</h3>
                            <span style="text-transform:uppercase;">Tổng quỹ tiền mặt</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div id="view_revenue" class="panel bg-pink-400">
                        <div class="panel-body">
                            <h3 class="no-margin">@(Model.SO_HOP_DONG)</h3>
                            <span style="text-transform:uppercase;">Hợp đồng đang vay</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div id="view_profit" class="panel bg-blue-400">
                        <div class="panel-body">
                            <h3 class="no-margin">@(string.Format("{0:N0}", Model.TIEN_DANG_CHO_VAY))</h3>
                            <span style="text-transform:uppercase;">Tiền đang cho vay</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel bg-success-400">
                        <div class="panel-body">
                            <h3 class="no-margin">@(string.Format("{0:N0}", Model.LAI_DA_THU))</h3>
                            <span style="text-transform:uppercase;">Lãi đã thu</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: auto;">
                <div class="col-md-12 col-xs-12">
                    <div id="financy" class="panel panel-flat bg-green-300">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>
                                <span>Cửa hàng đang hoạt động</span>
                            </h6>
                            @*<div class="heading-elements"></div>*@
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="table-responsive panel-body" style="max-height:260px;min-height:260px;">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td class="text-center">STT</td>
                                                <td class="text-center">Cửa hàng</td>
                                                <td class="text-center">Vốn đầu tư</td>
                                                <td class="text-center">Địa chỉ</td>
                                                <td class="text-center">Điện thoại</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < ViewBag.ShopList.Count; i++)
                                            {
                                                <tr>
                                                    <td class="text-center">@(i + 1)</td>
                                                    <td>@ViewBag.ShopList[i].SHOP_NAME</td>
                                                    <td class="text-center">@(string.Format("{0:N0}", ViewBag.ShopList[i].SHOP_MONEY))</td>
                                                    <td>@ViewBag.ShopList[i].SHOP_ADDRESS</td>
                                                    <td class="text-center">@ViewBag.ShopList[i].SHOP_PHONE</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>